<%= form_for([@course, @cohort]) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%pluralize(@cohort.errors.count, "error")%> prohibited this cohort from being saved:</h2>
      <ul>
        <% @cohort.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <%= f.text_field :name, placeholder: 'Cohort Name' %> <br>
  <label>Start Date</label> <br>
  <%= f.date_select :start, :order => [:month, :day, :year] %> <br>
  <label>End Date</label> <br>
  <%= f.date_select :end, :order => [:month, :day, :year] %> <br>
  <%= f.collection_select :instructor, @instructor, :full_name, :full_name, { prompt: 'Select Instructor' } %> <br>
  <%= f.submit %>
<% end %>
