<div class="cohorts-show">
  <% if current_user == nil %>
    <h2>You must be logged in.</h2>
  <% else %>

  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= link_to '<< Back', course_path(@course) %>
  <h1><%= @cohort.name %></h1>
  <sub>Instructor: <%= @cohort.instructor %></sub>
  <p><%= @cohort.description %></p>

  <ul>
    <li>Start Date: <%= @cohort.start.strftime("%b. %e, %Y") %></li>
    <li>End Date: <%= @cohort.end.strftime("%b. %e, %Y") %></li>
  </ul>


  <%= link_to 'Add A Student', new_course_student_path(@course) %>

  <h4>Current Students Enrolled</h4>
    <p>Enrolled: <%= @cohort.students.count %></p>

    <% if @cohort.students.count == 0 %>
    <% else %>
  <table>
    <thead>
      <th>Name</th>
      <th>School ID</th>
      <th>Education</th>
      <th>Birthday</th>
        <% if current_user.is_admin? %>
      <th>Actions</th>
        <% else %>
        <% end %>
    </thead>
    <tbody>
      <% @cohort.students.each do |c| %>
      <tr>
        <td><%= c.full_name %></td>
        <td><%= c.school_id %></td>
        <td><%= c.education %></td>
        <td><%= c.birthday.strftime("%b. %e, %Y") %></td>
          <% if current_user.is_admin? %>
        <td>
          <%= link_to 'Edit', '#' %>
          <%= link_to 'Delete', '#' %>
          <% else %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% end %>
</div>
