<div class="courses-show">
<%= link_to '<< Back', courses_path %>

  <h1><%= @course.name %></h1>
  <sub><%= @course.hours %> hours</sub>

  <p><%= @course.description %></p>

  <%= link_to 'Add A Cohort', new_course_cohort_path(@course) %>
</div>
